@import "../style/base/constants";

.card {
  display: flex;
  border-bottom: 1px solid $color-additional-light;
  padding: 20px;
  justify-content: space-between;
  align-items: center;

  &__image {
    display: block;
    padding-right: 20px;
  }

  &__rating {
    background: url("../../assets/source/icons/rating.png") repeat-x bottom;
    background-size: 22px 36px;
    height: 18px;
    width: 110px;
    margin-left: -3px;
    margin-bottom: 7px;

    &:after {
      content: '';
      background: url("../../assets/source/icons/rating.png") repeat-x left top;
      background-size: 22px 36px;
      display: block;
      height: 18px;
    }

    &.rating-1:after {
      width: 22px;
    }

    &.rating-2:after {
      width: calc(22px * 2);
    }

    &.rating-3:after {
      width: calc(22px * 3);
    }

    &.rating-4:after {
      width: calc(22px * 4);
    }

    &.rating-5:after {
      width: calc(22px * 5);
    }
  }


  &__info {
    padding-right: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
  }

  &__buy {
    display: flex;
    flex-direction: column;
  }

  &__price {
    @include font(normal, 400, 2rem, 150%);
    color: $color-basic;
  }

  &__buttons {
    display: flex;
    padding: 7px 0;

    :not(:last-child) {
      margin-right: 16px;
    }

  }

  &__basket {
    margin-right: 7px;
  }
}

.info__list {
  margin-bottom: 7px;
}

.icon-heart {
  fill: $color-additional;
}

