@import "../style/base/constants";

.card {
  display: flex;
  border-bottom: 1px solid $color-additional-light;
  padding: 20px;
  justify-content: space-between;
  align-items: center;

  &__image {
    display: block;
    width: 200px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 60%;
    padding-left: 20px;

    @media (max-width: 1230px) {
      flex-direction: column;
      align-items: initial;
    }
  }

  &__rating {
    background: url("../../assets/source/icons/rating.png") repeat-x bottom;
    background-size: 22px 36px;
    height: 18px;
    width: 110px;
    margin-left: -3px;
    margin-bottom: 7px;

    &:after {
      content: '';
      background: url("../../assets/source/icons/rating.png") repeat-x left top;
      background-size: 22px 36px;
      display: block;
      height: 18px;
    }

    &.rating-1:after {
      width: 22px;
    }

    &.rating-2:after {
      width: calc(22px * 2);
    }

    &.rating-3:after {
      width: calc(22px * 3);
    }

    &.rating-4:after {
      width: calc(22px * 4);
    }

    &.rating-5:after {
      width: calc(22px * 5);
    }

  }

  &__info {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }

  &__buy {
    display: flex;
    flex-direction: column;
  }

  &__price {
    @include font(normal, 400, 2rem, 150%);
    color: $color-basic;
  }

  &__buttons {
    display: inline-flex;
    padding: 7px 0;
  }

  &__buttons-basket {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    margin-right: 15px;
  }

  &__basket {
    margin-right: 7px;
  }
}

.basket-count,
.basket-remove {
  display: none;
}

.basket-add {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
}

.basket-add__plus {
  display: none;
}

.button_expanded .basket-add,
.button_expanded .basket-remove {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
}

.button_expanded .basket-add__text {
  display: none;
}

.button_expanded .basket-add__plus {
  display: block;
}

.button_expanded .basket-count {
  display: block;
  @include font(normal, 400, 1.4rem, 150%);
  color: $color-basic;
}

.disabled-add .basket-add {
  cursor: default;
  background-color: $color-additional-light;
  color: $color-basic-light;
  border-color: $color-additional-light;
}

.info__list {
  margin-bottom: 7px;
}

.button-favorite {
  fill: $color-additional;

  transition: all .2s linear;

  &:hover {
    fill: $color-favorite;
  }

  &:active {
    fill: $color-favorite-dark;
  }
}

.favorite-active {
  fill: $color-favorite;
}

