$font-family-basic: 'Lato', 'Arial', sans-serif;

$color-basic: #1E212C;
$color-basic-light: #424551;

$color-brand: #17696A;
$color-brand-dark: #145C5D;

$color-meta: #FFFFFF;

$color-additional: #787A80;
$color-additional-light: #D7DADD;

$color-basket: #03CEA4;
$color-favorite: #F75151;
$color-favorite-dark: #fc1e1e;

@mixin font($style, $weight, $size, $height) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}