@import "constants";

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__title {
    @include font(normal, 900, 2rem, 130%);
    color: $color-basic;
  }
}
.menu {
  display: flex;
  align-items: center;
  color: $color-meta;
  @include font(normal, 900, 1.3rem, 150%);

  img {
    display: block;
    margin-right: 5px;
  }

  &__favorite {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }

  &__favorite-count {
    width: 28px;
    height: 22px;
    transition: all .2s linear;
    border-radius: 4px;

    &_active {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-favorite;
    }
  }

  &__basket {
    display: flex;
    align-items: center;
  }

  &__basket-count {
    width: 28px;
    height: 22px;
    border-radius: 4px;
    transition: all .2s linear;

    &_active {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-basket;
    }

  }

}